[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/kubernetes/kubernetes.git
	branch = v1.36.0
	shallow = true
[submodule "cilium"]
	path = cilium
	url = https://github.com/cilium/cilium.git
	branch = v1.19.3
	shallow = true
[submodule "kubevirt"]
	path = kubevirt
	url = https://github.com/kubevirt/kubevirt.git
	branch = v1.8.2
	shallow = true
[submodule "ceph"]
	path = ceph
	url = https://github.com/ceph/ceph.git
	branch = v19.2.3
	shallow = true
[submodule "multus-cni"]
	path = multus-cni
	url = https://github.com/k8snetworkplumbingwg/multus-cni.git
	branch = v4.2.4
	shallow = true
